<% content_for :header do %>
	<div class="column">
		<%= link_to root_url do %>
			<section class="full centered">
				<% if :color == :white %>
					<%= image_tag "logo-white.png", :id => "twelvetwenty-logo", :width => 141, :height => 163, :alt => "Twelve Twenty logo", :data => {:autostart => true, :animate => true, :json => image_path("animations/logo-animatie-wit-helft.json")} %>
				<% else %>
					<%= image_tag "logo.png", :id => "twelvetwenty-logo", :width => 141, :height => 163, :alt => "Twelve Twenty logo", :data => {:autostart => true, :animate => true, :json => image_path("animations/logo-animatie-zwart-helft.json")} %>
				<% end %>
			</section>
		<% end %>
		<% if current_user and defined? admin_links %>
			<section class="full centered">
				<% admin_links.each do |link| %>
					<%= link %>
				<% end %>
			</section>
		<% end %>
	</div>
<% end %>