<article class="two-thirds right-column goody-share-block">
	<div class="image" style="background-image: url('<%= image_path goody.artwork_url(:block_thumb).to_s %>')"></div>
	<h2>Free font: albratros</h2>
	<p>299 characters, and manual kerning</p>
</article>