<% title @goody.title %>
<% description @goody.teaser %>

<%= render "shared/simple-header", :color => :black %>

<div class="container">
	<%= render "goody", :goody => @goody, :detail => true %>
</div>

<div class="container" style="padding-right: 25px;">
	<%= render "goody-share", :goody => @goody %>
</div>