<%= link_to :controller => :apps, :action => :show, :app => :gettogether do %>
	<li class="gettogether trigger">
		<%= image_tag "home/gettogethericon-single.png", :width => 40, :height => 44, :alt => "Get Together", :data => {:trigger => ".trigger", :rollover => true, :animate => true, :json => image_path("home/gettogethericon.json")} %>
		<h2>Get Together</h2>
		<em>The fastest way to create calendar events on your iPhone or iPad.</em>
	</li>
<% end %>