<%= link_to :controller => :apps, :action => :show, :app => :uberlayer do %>
	<li class="uberlayer trigger">
		<%= image_tag "home/uberlayericon-single.png", :width => 49, :height => 49, :alt => "Uberlayer", :data => {:trigger => ".trigger", :rollover => true, :animate => true, :json => image_path("home/uberlayericon.json")} %>
		<h2>Uberlayer</h2>
		<em>Admit it, semitransparent, always-on-top pixel proofing just became sexy...</em>
	</li>
<% end %>