<h1>Apps</h1>
<%= image_tag "rails.png" %>
<ul>
	<li><%= link_to "uberlayer", "uberlayer" %></li>
	<li><%= link_to "will it fit", "willitfit" %></li>
	<li><%= link_to "Get together", "gettogether" %></li>
</ul>
