<h1 class="hidden">Apps</h1>
<div class="column">
	<section class="full centered">
		<%= image_tag "logo-white.png" %>
	</section>
</div>


<div class="column">
	<div class="one-third">
		<%= link_to :controller => :apps, :action => :show, :app => :uberlayer do %>
			<article class=" app uberlayer">
				<h2>Uberlayer</h2>
			</article>
		<% end %>
	</div>
	<div class="one-third">
		<%= link_to :controller => :apps, :action => :show, :app => :willitfit do %>
			<article class=" app willitfit">
				<h2>Will it fit</h2>
			</article>
		<% end %>
	</div>
	<div class="one-third">
		<%= link_to :controller => :apps, :action => :show, :app => :willitfit do %>
			<article class="app gettogether">
				<h3>Get Together</h3>
			</article>
		<% end %>
	</div>
</div>
