<h1>Apps</h1>
<%= image_tag "rails.png" %>
<ul>
	<li><%= link_to "uberlayer", :controller => :apps, :action => :show, :app => :uberlayer %></li>
	<li><%= link_to "will it fit", :controller => :apps, :action => :show, :app => :willitfit %></li>
	<li><%= link_to "get together", :controller => :apps, :action => :show, :app => :gettogether %></li>
</ul>
