<div class="row">
	<article class="full video">
		<iframe class="vimeo" src="http://player.vimeo.com/video/<%= video_id %>?title=0&amp;byline=0&amp;portrait=0" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</article>
</div>