<% content_for :header do %>
	<%= render "apps/overview" %>
<% end %>

<h1>Uberlayer</h1>

<h2>Uber what?</h2>
<p>With the Uberlayer app you can put floating images on top of your computer screen. Maybe you want to proof a design to the pixel, watermark a presentation or always have that special picture of your mother on top?</p>