<% content_for :header do %>
	<h1>Twelve Twenty</h1>
	<p>Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
	<p>Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
<% end %>


<section>
	<%= image_tag "rails.png" %>
	<h2>Jankees</h2>

	<p>Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
	<ul>
		<li><a href="mailto:x@x.com">Email</a></li>
		<li><a href="http://twitter.com/x">Twitter</a></li>
	</ul>
</section>

<section>
	<%= image_tag "rails.png" %>
	<h2>Eric Paul</h2>

	<p>Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
	<ul>
		<li><a href="mailto:x@x.com">Email</a></li>
		<li><a href="http://twitter.com/x">Twitter</a></li>
	</ul>
</section>

<section>
	<%= image_tag "rails.png" %>
	<h2>Timo</h2>

	<p>Danger, donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
	<ul>
		<li><a href="mailto:x@x.com">Email</a></li>
		<li><a href="http://twitter.com/x">Twitter</a></li>
	</ul>
</section>