<% content_for :header do %>

	<div class="column">
		<section class="full centered">
			<%= image_tag "logo-white.png" %>
		</section>
	</div>

	<div class="column">
		<section class="full">
			<h1>About Twelve Twenty</h1>
		</section>
	</div>

	<div class="column">
		<section class="half">

			<p>One might describe Twelve Twenty as an "independent software company”, but we rather think of ourselfves as people who make things, most of which are apps for devices like the Mac or the iPhone, but also for the web in general.</p>
			<p>The ever growing intertwinement of computing devices is accompanied by a fair amount of growing pains. No piece of technology can ever hope to be perfect, or at the very least not in it’s first few iterations, and companies that take big steps often overlook the little details that matter.</p>
		</section>
		<section class="half">
			<p>Isn’t there any one to address these issues? But of course, this is where Twelve Twenty steps in. With our apps we hope to solve problems we care about, increase productivity at work, reduce time spent on the mundane and add a bit of joy to this modern society we live in.</p>
			<p style="border: 2px solid red; padding: 5px">Kan hier misschien een grafisch elementje, om de tekst af te sluiten?</p>
		</section>
	</div>
<% end %>

<div class="container">
	<div class="row people">
		<section class="one-third">

			<div class="centered">
				<%= image_tag "about/profilejankees.png" %>
				<h2>Jankees van Woezik</h2>
			</div>

			<p>Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
			<ul>
				<li><a href="mailto:x@x.com">Email</a></li>
				<li><a href="http://twitter.com/x">Twitter</a></li>
			</ul>
		</section>
		<section class="one-third">
			<div class="centered">
				<%= image_tag "about/profileep.png" %>
				<h2>Eric-Paul Lecluse</h2>
			</div>

			<p>Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
			<ul>
				<li><a href="mailto:x@x.com">Email</a></li>
				<li><a href="http://twitter.com/x">Twitter</a></li>
			</ul>
		</section>
		<section class="one-third">
			<div class="centered">
				<%= image_tag "about/profiletimo.png" %>
				<h2>Timo Kuilder</h2>
			</div>
			<p>Danger, donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
			<ul>
				<li><a href="mailto:x@x.com">Email</a></li>
				<li><a href="http://twitter.com/x">Twitter</a></li>
			</ul>
		</section>
	</div>
</div>