/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require layout
 *= require_self
 *= require_tree .
 */

@import "_variables-mixins.css.scss";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body .wrapper:before, body .wrapper:after {
	content: "";
	display: table;
}

body .wrapper:after {
	clear: both;
}

.wrapper.content {
	padding: 39px 0;
}

.wrapper.footer {
	padding: 10px 0;
	text-align: center;
	ul {
		padding: 10px 0;
		margin-left: -10px;
	}

	li {
		list-style: none;
		display: inline;
		padding-left: 10px;
	}
}

.footer-border {
	height: 8px;
	background-image: url('/assets/footerpattern.png');
	background-repeat: repeat-x;
}

// light - dark is default
@include light-dark;