/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url('/assets/bg-white-pattern.png');
	padding-top: 43px;
}

body > section#heading, body > footer {
	background-image: url('/assets/bg-black-pattern.png');
	color: white;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

section#heading {
	padding: 50px;
}

body > header {
	position: fixed;
	font-family: 'Oswald', sans-serif;
	background-image: url('/assets/navigationstroke.png');
	background-repeat: repeat-x;
	width: 100%;
	top: 0;
}

header > ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;

	background-image: url('/assets/navigationpunt.png');
	background-repeat: no-repeat;
	background-position: top center;
	line-height: 60px;
	height: 90px;

	li {
		font-size: 13px;
		padding: 0px 30px;
		display: inline-block;
		color: white;
		text-transform: uppercase;
	}

	li.current {
		text-decoration: underline;
	}

	a, a:visited, a:hover {
		background-color: transparent;
		color: white;
		text-decoration: none;
	}
}