@import "_variables.css.scss";

body.apps {
	.wrapper.header {
		@include wrapper-light;
	}

	.wrapper.content, .wrapper.footer {
		@include wrapper-dark;
	}

	.app {
		margin-top: $column-margin;
		background-position: center top;
		background-repeat: no-repeat;
		height: 200px;
		text-align: center;
		padding-top: 150px;

		-webkit-transition: opacity 0.3s ease;
		-moz-transition: opacity 0.3s ease;
		-ms-transition: opacity 0.3s ease;
		-o-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
	}

	.willitfit {
		background-image: url('/assets/apps/icon-willitfit.png');
	}
	.uberlayer {
		background-image: url('/assets/apps/icon-uberlayer.png');
	}
	.gettogether {
		background-image: url('/assets/apps/icon-gettogether.png');
	}

	.requirements {
		background-color: $black;
		padding-top: 5px;
		background-image: none;
	}

	.content .text {
		h2 {
			padding-left: 40px;
			background-image: url('/assets/apps/dotsgreen.png');
			background-repeat: no-repeat;
			background-position: center left;
		}
		p {
			padding-left: 40px;
		}
	}
}