@import "_variables.css.scss";

::-moz-selection {
	color: white;
    background: $red;
    text-shadow: none;
}

::selection {
	color: white;
    background: $red;
    text-shadow: none;
}

body {
	font-size: 14px;

	p, ol, ul, td {
		font-family: 'Poly', serif;
		font-weight: normal;
		-webkit-font-smoothing: subpixel-antialiased;
	}

}

h1, h2, h3 {
	text-transform: uppercase;
	font-family: $oswald;
	font-weight: normal;
}

h1 {
	font-size: 25px;
	line-height: 30px;
}

h2 {
	font-size: 16px;
	line-height: 20px;
}

em {
	font-family: $poly;
}

body a, body a:visited, body a:hover {
	background-color: transparent;
	color: $red;
	text-decoration: none;
}

a.arrow {
	background-image: url('/assets/pijl.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 15px;
}

ul {
	margin: 0;
}

.centered {
	text-align: center;
}

.padded {
	padding: $column-margin;
}

.full .video {
	height: 400px;
}

.full.slideshow {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	img {
		width: 100%;
	}

	.controls {
		margin-top: 10px;
		display: inline-block;
		background-image: url('/assets/slideshow.png');
		width: 132px;
		height: 29px;
	}
}

@media (max-width: $site-width) {
	.full .video {
		height: 200px;
	}

}