@import "_variables-mixins.css.scss";

body.blogs, body.goodies {
	@include dark-light;

	.wrapper h1 {
		margin: 0px;
	}

	.wrapper h2 {
		font-size: 1.1em;
	}

	.wrapper p {
		color: $black;
	}

	.wrapper.content img.artwork {
		width: 100%;
	}

	.wrapper.content img {
		max-width: 100%;
	}

	article footer {
		background-image: url('/assets/blog714-bottom.png');
		height: 49px;
		margin-bottom: 50px;
	}

	article .content {
		background-image: url('/assets/blog714-side.png');
		background-repeat: repeat-y;
	}

	article.goody-share-block {
		background-image: url('/assets/goodies/goody-get-block.png');
		background-repeat: no-repeat;
		height: 292px;
		width: 439px;
		position: relative;
		padding: 11px;

		.image {
			position: absolute;
			left: 1px;
			top: 1px;
			width: 192px;
			height: 194px;
		}

		h2, p {
			margin-left: 200px;
		}

	}

}

body.goodies-index {
	article .content {
		background-image: url('/assets/blog222-side.png');
	}
	article footer {
		background-image: url('/assets/blog222-bottom.png');
	}
}

@media (max-width: $site-width) {

	body.blogs, body.goodies {
		article footer {
			background-image: url('/assets/blog345-bottom.png');
		}

		article .content {
			background-image: url('/assets/blog345-side.png');
		}
	}
}