@import "_variables.css.scss";

body.home {

	.apps {
		list-style: none;

		li {
			height: 172px;
			background-repeat: no-repeat;
			padding-left: 236px;
		}

		li.uberlayer {
			background-image: url('/assets/iconuberlayer.png');
		}

		li.willitfit {
			background-image: url('/assets/iconwillitfit.png');
		}

		li.gettogether {
			background-image: url('/assets/icongettogether.png');
		}

	}

	.wrapper.header {
		@include wrapper-dark;
	}

	.wrapper.content, .wrapper.footer {
		@include wrapper-light;
	}

}