@import "_variables.css.scss";

body.home {

	.apps {
		list-style: none;
		padding: 0px;

		$padding-left: 216px;
		$padding-right: 10px;

		li {
			min-height: 172px;
			background-repeat: no-repeat;
			padding: 20px $padding-right 0 $padding-left;
			cursor: pointer;
		}

		li.uberlayer {
			background-image: url('/assets/iconuberlayer.png');
		}

		li.willitfit {
			background-image: url('/assets/iconwillitfit.png');
		}

		li.gettogether {
			background-image: url('/assets/icongettogether.png');
		}

		@media (max-width: $site-width) {
			li {
				background-position: center top;
				padding: 160px 50px 25px;
				text-align: center;
			}
		}
	}
	//.apps

	.wrapper.header, .wrapper.footer  {
		@include wrapper-dark;
	}

	.wrapper.content{
		@include wrapper-light;
	}

	.blog-teaser a {
		color: black;
	}

}
//.home
