@import "_variables.css.scss";

/** DEBUGGING LAYOUT */

body.debug-layout {
	background-color: blue !important;

	@media (max-width: $site-width) {
		background-color: orange !important;
	}

	.one-third {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwARpjGhiaUD+LGRBsABIEUwQLgATRBEACQIAw+IEbPD2jzoAAAAASUVORK5CYII=);
	}

	.half {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAL7rh5MY4TxQRwnbftZYAEYB8RmROaABADOIg6/PJ3T6QAAAABJRU5ErkJggg==);
	}

	.full {
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkYGAwBuKzQAwHjFAWigRMECQHl0AWhEugC4IlAPMHBDmyOst9AAAAAElFTkSuQmCC);
	}

}

/** DEBUGGING LAYOUT END */

.container {
	width: 762px;
	margin: 0 auto;
}

.row {
	margin-bottom: 24px;
}

.row::after {
	clear: both;
}

.row::before, .row::after {
	display: table;
	content: "";
}

.one-third, .half, .full {
	float: left;
	margin-left: 24px;
}

.one-third {
	width: $column-at-one-third;
}

.half {
	width: $column-at-half;
}

.full {
	width: $column-at-full;
}

/** This is inspired by Twitter Bootstrap */

// For desktops
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.visible-desktop   { } // Don't set initially
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }


// Phones only
@media (max-width: $site-width) {

	body, html {
		min-width: $site-width-mobile;
	}

	.container {
		width: $site-width-mobile;
	}

	.one-third, .half, .full {
		width: $column-at-half;
		margin-bottom: 24px;
	}

	.row {
		margin-bottom: 0px;
	}

	.visible-phone     { display: inherit !important; }
	.hidden-phone      { display: none !important; }
	.hidden-desktop    { display: inherit !important; }
	.visible-desktop   { display: none !important; }
}

// Bigger than phone
@media (min-width: $site-width) {

	.visible-tablet    { display: inherit !important; }
	.hidden-tablet     { display: none !important; }
	.hidden-desktop    { display: inherit !important; }
	.visible-desktop   { display: none !important ; }
}