@import "_variables.css.scss";

$main-menu-height: 60px;

/**
* HEADER
*/

body > header {

	position: fixed;
	background-image: url('/assets/navigation-stroke.png');
	background-repeat: repeat-x;
	width: 100%;
	top: 0;
	z-index: 1;

	ul {
		text-align: center;
		list-style: none;
		margin: 0;
		padding: 0;

		background-image: url('/assets/nav-point.png');
		background-repeat: no-repeat;
		background-position: top center;
		line-height: $main-menu-height;
		height: $main-menu-height + 30px;
	}

	li {
		font-family: 'Oswald', sans-serif;
		font-size: 13px;
		padding: 0px 30px;
		display: inline-block;
		color: white;
		text-transform: uppercase;
	}

	li.current {
		text-decoration: underline;
	}

	a, a:visited, a:hover {
		color: white;
	}

}

.wrapper.header {
	margin-top: $main-menu-height - 1;
}

@media (max-width: $site-width) {

	.wrapper.header {
		margin-top: 0px;
	}

	body > header {

		background-image: url('/assets/nav-pattern.png');

		width: auto;
		position: relative;
		background-repeat: repeat;

		ul {
			padding: 10px 0;
			background-image: none;
			height: auto;
			line-height: 35px;
		}

		li {
			display: list-item;
		}
	}

}