@import "_variables-mixins.css.scss";

@media (min-width: $site-width) {
	.full.video {
		background-image: url('/assets/apps/videoframe.png');
		padding: 10px;
		width: 697px;
		height: 427px;
	}

	.full.video .vimeo {
		height: 375px;
	}
}

@media (max-width: $site-width) {
	.full.video .vimeo {
		height: 200px;
	}
}